<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<form class="form-inline" method="POST" th:object="${veiculo}" th:action= "@{/lista}" style="margin: 20px 0">
	<div class="panel panel-default" style="margin: 10px">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Modelo" 				th:field="*{modelo}" /> 
			<input type="text" class="form-control" placeholder="Marca"  				th:field="*{marca}"/>
			<input type="text" class="form-control" placeholder="Cor"    				th:field="*{cor}"/>
			<input type="text" class="form-control" placeholder="Ano"  					th:field="*{anoFabricacao}"/>
			<input type="text" class="form-control" placeholder="Media km/l" 			th:field="*{mediaKM}"/>
			<input type="text" class="form-control" placeholder="Restante no tanque" 	th:field="*{litrosTanque}"/>
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</div>
	</div>
</form>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Veiculos</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Modelo</th>
						<th>Marca</th>
						<th>Cor</th>
						<th>Ano</th>
						<th>Média km/l</th>
						<th>Restante em l</th>
						<th>Autonomia Atual</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="veiculo : ${veiculos}">
						<td th:text="${veiculo.modelo}"></td>
						<td th:text="${veiculo.marca}"></td>
						<td th:text="${veiculo.cor}"></td>
						<td th:text="${veiculo.anoFabricacao}"></td>
						<td th:text="${veiculo.mediaKM}"></td>
						<td th:text="${veiculo.litrosTanque}"></td>
						<td th:text="${veiculo.autonomia}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>